{% extends 'base_inicio.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Fazer login no Jecode{% endblock %}

{% block content %}

<main class="main-login">
    <div class="container-login">
        <form method="post" class="form-login">
            <h4>Fazer login no Jecode</h4>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="botao">Entrar</button>
            <p class="form-p">Quer criar uma conta? <a href="{% url 'account_signup' %}">Clique aqui!</a></p>
        </form>
    </div>
</main>
{% endblock %}