{% extends 'base_inicio.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Criar uma conta no Jecode{% endblock %}

{% block content %}

<main class="main-cadastro">
    <div class="container-cadastro">
        <form method="post" class="form-cadastro">
            <h4>Criar uma conta no Jecode</h4>
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit" class="botao">Registrar</button>
            <p class="form-p">Já possui uma conta? <a href="{% url 'account_login' %}">Clique aqui!</a></p>
        </form>
    </div>
</main>

{% endblock %}