{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Projetos</h1>
    <form class="row g-2">
        <div class="col-9   ">
            <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Adicionar título do projeto">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-plus"></i>Criar novo projeto</button>
        </div>
    </form>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><span><a href="../projeto_detalhes/"></a></span>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </h5>
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">quad<span><i class="fas fa-edit"></i></span></li>
                    <li class="list-group-item">A second item<span><i class="fas fa-edit"></i></span></li>
                    <li class="list-group-item">A third item<span><i class="fas fa-edit"></i></span></li>
                </ul>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mb-3">
                    <i class="fas fa-plus"></i>Adicionar um novo projeto
                </button>
            </div>
        </div>
    </div>
    {% for p in projetos %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><span><a href="../projeto_detalhes/{{p.id}}">{{p.nome}}</a></span>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </h5>
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">quad<span><i class="fas fa-edit"></i></span></li>
                    <li class="list-group-item">A second item<span><i class="fas fa-edit"></i></span></li>
                    <li class="list-group-item">A third item<span><i class="fas fa-edit"></i></span></li>
                </ul>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mb-3">
                    <i class="fas fa-plus"></i>Adicionar outro cartão
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}