.board {
	height: 100%;
	display: flex;
	flex-direction: column;
	/*
	height: 88vh;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	*/
}

.board_atividades {
	width: 99%;
}

.scrumboard {
	/*
	display: flex;
	overflow: auto;
	flex-direction: row;
	align
	justify-content: normal;
	flex-flow: wrap;
	position: absolute;
	height: 86vh;
	width: max-content;
  	height: inherit;
	/*/
	user-select: none;
	white-space: nowrap;
	margin: 10px;
	overflow-x: auto;
	overflow-y: auto;
	display: block;
}

.scrumboard_atividades {
	display: flex;
	flex-wrap: nowrap;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 500px) {
	.scrumboard {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
		user-select: none;
		white-space: nowrap;
		margin: 10px;
	}

	.scrumboard_atividades {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.scrumboard_atividades>.itens {
	flex: 1 1 200px;
	margin: 10px;
}

.scrumboard_atividades h1 {
	text-align: center;
	color: #fff;
}

.titulo_lista {
	text-align: center;
}

.scrumboard a {
	list-style: none;
	text-decoration: none;
	color: #000;
}

.scrumboard .colunas {
	border: 2px solid #dee2e6;
	border-radius: 5px;
	background: rgba(155, 174, 250, 0.315);
}

.scrumboard_atividades a {
	list-style: none;
	text-decoration: none;
	color: #ccc;
}

.itens {
	background-color: #ccc;
}

.do {
	background-color: rgb(160, 152, 37);
}

.doing {
	background-color: rgb(22, 22, 121);
}

.done {
	background-color: rgb(10, 131, 10);
}

.column {
	/*
	background-color: #ccc;
	border-radius: 10px;
	border: 2px solid #666666;
	box-shadow: inset 0 0 3px #000;
	cursor: move;
	/*
	float: left;
	margin-bottom: 3000px;
	margin-right: 5px;
	height: auto;
	margin: 10px;
	text-align: center;
	width: 100%;
	*/
	width: 272px;
	margin: 0 4px;
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.lista header {
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(79, 79, 79), rgb(21, 21, 21));
	/*
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 5px;
	color: #fff;
	padding: 5px;
	text-shadow: #000 0 1px;
	*/
}

.column {
	transition: transform 0.2s ease-out;
}

.lista.over {
	border: 2px dashed #000;
}

.lista.moving {
	opacity: 0.25;
	transform: scale(0.8);
}

.lista .count {
	font-weight: bold;
	padding-top: 15px;
	text-shadow: #fff 0 1px;
}

.lista {
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	position: relative;
	white-space: normal;
}

.lista_atividades {
	margin: 10px;
	transition: 0.3s;
	height: auto;
	min-height: 500px;
	max-height: max-content;
}

/*
body {
	font-family:helvetica, arial;
	font-size:12px
   }
  .scrumboard{
   margin:0 auto;
   width:835px;
  }
  
  h1{
   margin-left:20px;
   font-size:2rem;
  }
   .column {
	 width: 200px;
	 float: left;
	 border: solid 4px black;
	 height:100vh;
   }
   .portlet {
	 margin: 0 1em 1em 0;
	 padding: 0.3em;
   }
   .portlet-header {
	 padding: 0.2em 0.3em;
	 margin-bottom: 0.5em;
	 position: relative;
   }
   .portlet-toggle {
	 position: absolute;
	 top: 50%;
	 right: 0;
	 margin-top: -8px;
   }
   .portlet-content {
	 padding: 0.4em;
   }
   .portlet-placeholder {
	 border: 1px dotted black;
	 margin: 0 1em 1em 0;
	 height: 50px;
   }
   */

.board_kanban {
	display: grid;
	grid-template-columns: 0.8fr 3fr;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
	grid-template-areas: "c0 l0""c1 l1""c2 l2""c3 l3""c4 l4""c5 l5";
	height: 100vh;
	width: 80vw;
	color: #ffff;
	background-color: gray;
	margin: 0 auto;
}

.board_kanban_header {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: brown;
	grid-area: l0;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_nav {
	/*
	grid-column-start: 1;
	grid-column-end: 2;*/
	background-color: green;
	grid-area: nav;
	display: flex;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;

}

.board_kanban_main {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: rgb(27, 6, 100);
	grid-area: main;
	border: 1px solid white;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_urgentes {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: rgb(27, 6, 100);
	grid-area: l1;
	border: 1px solid white;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_independentes {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: rgb(27, 6, 100);
	grid-area: l2;
	border: 1px solid white;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_dependentes {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: rgb(27, 6, 100);
	grid-area: l3;
	border: 1px solid white;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_melhorias {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: rgb(27, 6, 100);
	grid-area: l4;
	border: 1px solid white;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_np {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	background-color: rgb(27, 6, 100);
	grid-area: l5;
	border: 1px solid white;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.board_kanban_c1 {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	text-align: center;
	background-color: rgb(27, 6, 100);
	grid-area: c1;
	border: 1px solid white;
}

.board_kanban_c2 {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	text-align: center;
	background-color: rgb(27, 6, 100);
	grid-area: c2;
	border: 1px solid white;
}

.board_kanban_c3 {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	text-align: center;
	background-color: rgb(27, 6, 100);
	grid-area: c3;
	border: 1px solid white;
}

.board_kanban_c4 {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	text-align: center;
	background-color: rgb(27, 6, 100);
	grid-area: c4;
	border: 1px solid white;
}

.board_kanban_c5 {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	text-align: center;
	background-color: rgb(27, 6, 100);
	grid-area: c5;
	border: 1px solid white;
}

.bk_item {
	/*
	grid-column-start: 2;
	grid-column-end: 3;*/
	text-align: center;
	width: 100%;
	height: 100%;
	border: 1px solid white;
}

.board_kanban_titulo {
	
}