{% extends 'base.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %} {{.nome}} | Jecode{% endblock %}

{% block content %}
<div class="#"></div>
<div class="scrumboard_atividades">
    <div class="itens do">
        <h1>Pendente</h1>
        <div class="lista lista_atividades">
            {% for p in pendentes %}
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <a href="">{{p.titulo}}</a>
                    <a href="../../editar_subatividade_do_projeto/{{p.id}}">
                        <span>
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    <a href="../../mudar_estado_da_subatividade_do_projeto/{{p.id}}/1">
                        <span>
                            <i class="fas fa-hand-point-right"></i>
                        </span>
                    </a>
                    <a href="../../deletar_subatividade_do_projeto/{{p.id}}">
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </a>
                </div>
                <div class="card-body text-secondary">
                    <p class="card-text">{{p.descricao}}</p>
                </div>
            </div>
            {% endfor %}
            <a href="../../nova_subatividade_do_projeto/{{atividade.id}}">Nova Subatividade<span><i
                        class="fas fa-plus"></i></span></a></h1>
        </div>
    </div>

    <div class="itens doing">
        <h1>Fazendo</h1>
        <div class="lista lista_atividades">
            {% for fazendo in fazendo %}
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <a href="">{{fazendo.titulo}}</a>
                    <a href="../../editar_subatividade_do_projeto/{{fazendo.id}}">
                        <span>
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    <a href="../../mudar_estado_da_subatividade_do_projeto/{{fazendo.id}}/0">
                        <span>
                            <i class="fas fa-hand-point-left"></i>
                        </span>
                    </a>
                    <a href="../../mudar_estado_da_subatividade_do_projeto/{{fazendo.id}}/1">
                        <span>
                            <i class="fas fa-hand-point-right"></i>
                        </span>
                    </a>
                    <a href="../../deletar_subatividade_do_projeto/{{fazendo.id}}">
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </a>
                </div>
                <div class="card-body text-secondary">
                    <p class="card-text">{{fazendo.descricao}}</p>
                </div>
            </div>

            {% empty %}

            {% endfor %}
        </div>
    </div>
    <div class="itens done">
        <h1>Feito</h1>
        <div class="lista lista_atividades">
            {% for feito in feito %}
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <a href="">{{feito.titulo}}</a>
                    <a href="../../editar_subatividade_do_projeto/{{feito.id}}">
                        <span>
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    <a href="../../mudar_estado_da_subatividade_do_projeto/{{feito.id}}/0">
                        <span>
                            <i class="fas fa-hand-point-left"></i>
                        </span>
                    </a>
                    <a href="../../deletar_subatividade_do_projeto/{{feito.id}}">
                        <span>
                            <i class="fas fa-times"></i>
                        </span>
                    </a>
                </div>
                <div class="card-body text-secondary">
                    <p class="card-text">{{feito.descricao}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>

{% endblock %}