{% extends 'base_inicio.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Jecode - editar quadro{% endblock %}

{% block content %}

{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<main class="main-forms">
    <div class="container-forms">
        <form method="post" class="forms">
            <h4>Editar quadro</h4>
            {% csrf_token %}

            {{ form | crispy }}
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            <p class="form-p">Deseja voltar a home? <a href="{% url 'quadros:quadros' %}">Clique aqui!</a>
            </p>
        </form>
    </div>
</main>

{% endblock %}