{% extends 'base_inicio.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Criar uma conta no Jecode{% endblock %}

{% block content %}

<main class="container-cadastro">
    <form method="post" class="form-cadastro">
        <h4>Criar uma conta no Jecode</h4>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form | crispy}}
        <button type="submit" class="botao">Registrar</button>
        <p class="form-p">Já possui uma conta? <a href="/accounts/login">Clique aqui!</a></p>
    </form>
</main>

{% endblock %}