{% extends 'base_inicio.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Fazer login no Jecode{% endblock %}

{% block content %}

<main class="container-login">
    <form method="post" class="form-login">
        <h4>Fazer login no Jecode</h4>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form | crispy }}
        <button type="submit" class="bnt botao">Entrar</button>
        <p class="form-p">Quer criar uma conta? <a href="/usuarios/cadastro/">Clique aqui!</a></p>
    </form>
</main>


{% endblock %}