{% extends 'base.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Projetos{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="row lista-accordion-projetos">
    <div class="accordion-item accordion-projetos">
        <div class="accordion-projetos-header">
            <h5 class="accordion-title">
                <a type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Criar novo projeto
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body cards-projetos-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row linhas-cards-projetos">
    {% for p in projetos %}
    <div class="card cards-projetos">
        <div class="card-header cards-projetos-header" href="../detalhes_do_projeto/{{p.id}}">
            <h5 class="card-title">
                <span><a href="../detalhes_do_projeto/{{p.id}}">{{p.nome}}</a></span>
                <a href="../editar_projeto/{{p.id}}"><span><i class="fas fa-edit"></i></span></a>
                <a href="../deletar_projeto/{{p.id}}"><span><i class="fas fa-trash"></i></span></a>
            </h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}